*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

nav {
    background-color: rgba(2, 10, 248, 0.9);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px;
}

nav a {
    color: white;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav .active {
    border: 2px solid white;
    padding: 4px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    color: #fff;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    float: left;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

/*De aqui para abajo va todo el contenido de la pagina menu*/

.inicio {
    background: url('../img_Pry/Fondo-2.jpg') no-repeat center center/cover;
    height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.inicio-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

.cta-button {
    background: rgba(2, 10, 248, 0.9);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para hover */
    cursor: pointer; /* Cambia el cursor al pasar por la tarjeta */
}

.cta-button:hover {
    background-color: #1e3a8a;
    transform: scale(1.1); /* Agrandamiento al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte en hover */
}

.intro {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.intro h1 {
    font-size: 2rem;
    color: rgba(6, 13, 200, 0.9);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.intro p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1rem;
    line-height: 1.5;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card h3 {
    color: rgba(6, 13, 200, 0.9);
    font-size: 1.2rem;
    margin: 15px 0;
}

.card p {
    font-size: 0.9rem;
    color: #666;
}

.card button {
    background-color: rgba(6, 13, 200, 0.9);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #1e3a8a;
}

.estadistica-section {
    background: linear-gradient(270deg, #669df5, #9edcf9);
    padding: 40px;
    text-align: center;
    width: auto;
    color: #1e3a8a;
    margin: 0 auto;
}

.estadistica-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.estadistica-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    font-weight: 500;
}

.estadistica-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.estadistica {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.estadistica h3 {
    font-size: 2rem;
    margin: 0;
    color: #1e3a8a;
}

.estadistica p {
    font-size: 1rem;
    color: #333;
    margin-top: 10px;
}

.info-button {
    background-color: rgba(2, 10, 248, 0.9);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para hover */
    cursor: pointer; /* Cambia el cursor al pasar por la tarjeta */
}

.info-button:hover {
    background-color: #1e3a8a;
    transform: scale(1.1); /* Agrandamiento al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más fuerte en hover */
}

.footer-info {
    background-color: rgba(2, 10, 248, 0.9);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.footer-info .footer-acerca p, .footer-contacto p
{
    margin-top: 45px;
}

.footer-acerca,
.footer-contacto,
.footer-ubicacion {
max-width: 300px;
text-align: center;
padding: 20px;
box-sizing: border-box;
}

.footer-acerca h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-contacto h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-ubicacion h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-acerca a {
color: #fff;
}

.footer-ubicacion img {
width: 120%;
border-radius: 3px;
margin-top: 45px;
}

.footer {
    background-color: rgba(2, 10, 248, 0.9); /* Un azul más oscuro y suave */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    margin: 0;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el ratón */
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}