body {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    }
    
    nav {
        background-color: rgba(2, 10, 248, 0.9);
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        position: relative;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    
    nav ul li {
        margin: 5px;
    }
    
    nav a {
        color: white;
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    nav .active {
        border: 2px solid white;
        padding: 4px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
    }
    
    nav a:hover {
        color: #fff;
    }
    
    nav ul li a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: #fff;
        transition: width 0.3s ease;
    }
    
    nav ul li a:hover::after {
        width: 100%;
    }
    
    .logo {
        float: left;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }

.cartas-servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    height: 75vh;
    background: url(../img_Pry/Contacto.webp) no-repeat center center/cover;
}

.card {
    width: 300px;
    height: 350px;
    perspective: 1000px;
    margin: 20px;
    margin-top: 150px;
    transition: transform 0.3s;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s;
}

.card .front {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card .front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.card .back {
    transform: rotateY(180deg);
    background: rgba(3, 35, 54, 0.7); /* Fondo semi-transparente para permitir el efecto */
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    backdrop-filter: blur(10px); /* Desenfoque aplicado */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con navegadores basados en Webkit */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
    text-decoration: none;
    transition: color 0.3s;
}

.card .back .link a:hover {
    color: #ffff00;
}

.card .back h3 {
    font-size: 24px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
    font-size: 0.9rem;
}

/* Efecto hover para las tarjetas */
.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(360deg);
}

.footer-info {
    background-color: rgba(2, 10, 248, 0.9);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
}

.footer-info .footer-acerca p, .footer-contacto p
{
    margin-top: 45px;
}

.footer-acerca,
.footer-contacto,
.footer-ubicacion {
max-width: 300px;
text-align: center;
padding: 20px;
box-sizing: border-box;
}

.footer-acerca h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-contacto h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-ubicacion h3 {
font-size: 1.4rem;
color: skyblue;
text-decoration: underline;
text-underline-offset: 8px;
text-transform: uppercase;
}

.footer-acerca a {
color: #fff;
}

.footer-ubicacion img {
width: 120%;
border-radius: 3px;
margin-top: 45px;
}

.footer {
    background-color: rgba(2, 10, 248, 0.9); /* Un azul más oscuro y suave */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-content p {
    margin: 0;
}

.social-media {
    display: flex;
    gap: 15px;
}

.social-media a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-media a img:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el ratón */
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        gap: 20px;
        width: 90%;
        margin: 0 auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}